body {
    margin-top: 50px;
   text-align: center;
   background-image: url(https://img.freepik.com/free-vector/sketchy-gifts-pattern_23-2147510002.jpg?w=740&t=st=1702348126~exp=1702348726~hmac=79274a3b3d78ae1f1dec780e82aaeda89a98703cb12caaacb765e03ea5fe2bd6);
   font-family: 'Roboto', sans-serif;
}
.d,.s,.x{
   
    width: 40%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
    background-color: rgb(178, 247, 247);
    border-radius: 10px;
}
.s{
    margin-top: 10px;
    
}
.giftsForm{
    width: 25%;
}
.giftsForm input{
    height: 25px;
    text-align: center;
}
.giftsForm button{
    width: 20%;
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
}
.loginForm{
    display: flex;
    flex-direction: column;
    width: 25%;
    font-family: 'Roboto', sans-serif;
    padding: 30px;
    border: 1px solid rgb(100, 99, 99);
    border-radius: 30px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
    background-color: rgba(249, 220, 220,0.8)

}
.loginForm input{
    
    text-align: center;
}
.loginForm button{
    width: 20%;
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
}

.container {
    max-width: 350px;
    text-align: center;
    padding: 40px;
    border: 3px solid #000;
    border-radius: 50px;
    background-color: white;
    overflow: auto;
}

h1 {
    font-family: 'monospaced', monospaced;
    color: black;
}

form {
    font-family: 'Monospace', monospace;
    color: black;
    margin: 0 auto;
    text-align: center;
}

label, input, select, button {
    display: block;
    width: 100%;
    margin-top: 10px;
}

button {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.x{
    border: 1px solid black;
}

button:hover {
    background-color: black;
}

a {
    font-family: 'monospaced', monospaced;
    color: blue;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}
.error{
    margin: 0 auto;
}
